.products .card-img-top{
    height: 250px;
    width: 100%;
}

.products .card{
    margin: 10px auto;
}

/* ------------- Detail Product --------------- */

.detail-page .img-thumbnail.active {
    border-color: black;
    padding: 2px;
}